* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", Arial, sans-serif;

}

.to-do-list {
    width: 100%;
    min-height: 100dvh;
    background:#101114;
    padding: 15px;
}

.container {
    width: 100%;
    max-width: 600px;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 8px;

}

.app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 16px;
    font-weight: bold;
    gap: 10px;
}
.app-container h1{
    color:#00FFC4;
}

.row {
    display: flex;
    align-items: center;
    background: darkgray;
    border-radius:18px;
    margin-bottom: 20px;
    padding-left:10px;
    

}
#image{
    margin-bottom:15px;
    margin-left: 10px;
}

.form-control {
    flex: 1;
    border: none;
    background:none;
    font-size: 20px;
    border-radius:15px;
    caret-color:#010b09 ;
    color:#F9F9F9;
    resize: none;
    overflow-wrap: break-word;
    
}
.form-control:focus{
      outline: none;
      border: none;
      background-color: none;
      box-shadow: none;
      background: none;
}


.btn {
    padding: 16px 50px;
    width: auto;
    font-size: 16px;
    background-color:#00FFC4;
    color: #101114;
    border-radius:18px;
    border: none;
    outline: none;
    cursor: pointer;

}

.error {
    color: crimson;
    display: none;
    font-size: 15px;
}

ul {
    margin:auto;
    padding-left:0 ;
}

ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    font-size: 17px;
    cursor: pointer;
    position: relative;
    user-select: none;
    padding: 12px 12px 12px 50px;
    margin-top: 25px;
    margin-left: 10px;
    overflow: hidden;
    background-color: #1C1D20;
    border-radius: 20px;

}

ul li::before {
    content: '';
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-image: url(img/im.png);
    background-position: center;
    background-size: cover;
    top: 28px;
    left: 10px;
    transform: translateY(-50%);
    background-color: #1C1D20;
    border-radius: 20px;

}
.tasktext{
    flex:1;
    word-break: break-word;
    overflow-wrap: anywhere;
    white-space:normal ;
    color:#F9F9F9;


}

.checked .tasktext{
    color:#F9F9F9;;
    text-decoration: line-through;
    transition: 200ms ease;
}

ul li.checked::before {
    background-image: url(img/circle.png);
    transition: 200ms ease;
}

 .delete {
  cursor: pointer;
  font-size: 18px;
  width:30px;
  height:30px;
  color: #F9F9F9;
  

}
.delete:hover {
  color: #ff0033;  
  transition: 200ms ease;
  
}