* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", Arial, sans-serif;

}

.to-do-list {
    width: 100%;
    min-height: 100dvh;
    background: linear-gradient(135deg, #192e56, #19a4ae);
    padding: 15px;
}

.container {
    background-color: #fff;
    width: 100%;
    max-width: 600px;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 8px;

}

.app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 16px;
    font-weight: bold;
    gap: 10px;
}

.row {
    display: flex;
    align-items: center;
    background: darkgray;
    border-radius: 30px;
    margin-bottom: 20px;
    padding-left:10px;
    

}
#image{
    margin-bottom:15px;
    margin-left: 10px;
}

.form-control {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    font-size: 20px;
    border-radius: 18px;
    box-shadow: none;
    resize: none;
    line-height: 1.4;
    overflow-wrap: break-word;
}



.btn {
    padding: 16px 50px;
    width: auto;
    font-size: 16px;
    background: #ff5945;
    color: #fff;
    border-radius: 30px;
    border: none;
    outline: none;
    cursor: pointer;

}

.error {
    color: crimson;
    display: none;
    font-size: 15px;
}

ul {
    padding-left: 0;
}

ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    font-size: 17px;
    cursor: pointer;
    position: relative;
    user-select: none;
    padding: 12px 12px 12px 50px;
    margin-top: 15px;
    margin-left: 15px;
    overflow: hidden;

}

ul li::before {
    content: '';
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-image: url(img/im.png);
    background-position: center;
    background-size: cover;
    top: 28px;
    left: 10px;
    transform: translateY(-50%);
}
.tasktext{
    flex:1;
    word-break: break-word;
    overflow-wrap: anywhere;
    white-space:normal ;
}

.checked .tasktext{
    color: #0c0302;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(img/circle.png);
}

 .delete {
  cursor: pointer;
  font-size: 18px;
  width:30px;
  height:30px;
  color: #0b0808;
  

}
.delete:hover {
  transform: scale(1.5);
  
}